.settings/
target/
.classpath
.project
*.iml
batimen-client/pom.xml.versionsBackup
batimen-core/pom.xml.versionsBackup
batimen-dto/pom.xml.versionsBackup
batimen-module/pom.xml.versionsBackup
batimen-web/pom.xml.versionsBackup
batimen-ws/pom.xml.versionsBackup
.idea/.name
.idea/artifacts/batimen_web_war.xml
.idea/artifacts/batimen_web_war_exploded.xml
.idea/artifacts/batimen_ws_war.xml
.idea/artifacts/batimen_ws_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/Glassfish_Server_WP.xml
.idea/runConfigurations/Install_all_Castor.xml
.idea/runConfigurations/Install_castor_client.xml
.idea/runConfigurations/Install_castor_web.xml
.idea/runConfigurations/Install_castor_ws.xml
.idea/runConfigurations/IT_Test_Castor.xml
.idea/runConfigurations/IT_Test_Castor_WEB.xml
.idea/runConfigurations/Regenerate_db_castor.xml
.idea/runConfigurations/Test_Castor_WS.xml
.idea/runConfigurations/Test_WS_Castor.xml
.idea/vcs.xml
.idea/workspace.xml
