.settings/
target/
.classpath
.project
*.iml
batimen-client/pom.xml.versionsBackup
batimen-core/pom.xml.versionsBackup
batimen-dto/pom.xml.versionsBackup
batimen-module/pom.xml.versionsBackup
batimen-web/pom.xml.versionsBackup
batimen-ws/pom.xml.versionsBackup
