<wicket:panel>
	<div class="row-fluid">
		<div
			class="feedbackPanel span12 module_cont module_messageboxes"
			wicket:id="feedbackul">
			<div
				class="shortcode_messagebox module_small_padding"
				wicket:id="messages">
				<span wicket:id="message"></span> <br /> 
				<a class="box_close box_close_button"></a>
			</div>
		</div>
	</div>

	<script>
		$('.box_close_button').on('click',function(event){
			var parent = $(event.target).parent();
			parent.fadeOut('slow', function(){
				this.remove();
				// if parent panel contains no more children remove it
				var isPanelEmpty = $(".feedbackPanel.module_messageboxes div").length===0;
				if(isPanelEmpty){
					$(".feedbackPanel.module_messageboxes").remove();
				}
			});
		});
	</script>
</wicket:panel>