<wicket:head>
    <link
            rel="stylesheet"
            type="text/css"
            href="css/contactez-nous.css"/>
</wicket:head>
<wicket:panel>
    <!--CONTACTEZ NOUS-->
    <div class="row-fluid contacteznous">
        <div class="span4 contactmethod">
            <p>Besoin d'aide ?</p>
        </div>
        <div class="span4 contactmethod">
            <!--	<span class="ico">p</span>
                <p>04 92 92 92 92 (appel gratuit)</p> -->
        </div>
        <div class="span4 contactmethod">
            <a href="contact"><span class="ico">1</span>

                <p>Nous contacter</p></a>
        </div>
    </div>
</wicket:panel>