<wicket:head>
	<link
		rel="stylesheet"
		type="text/css"
		href="css/components/bootstrap-modal/bootstrap-modal.css"/>
</wicket:head>
<wicket:panel>
	<div
		id="modal"
		class="modal hide fade modalCastor"
		tabindex="-1"
		role="dialog"
		wicket:id="modalCastor" style="width: 390px;">
		<div class="modal-header">
			<button
				type="button"
				class="close"
				data-dismiss="modal"
				aria-hidden="true">×</button>
			<span id="myModalLabel" wicket:id="title">Suppression de mon annonce</span>
		</div>
		<div class="modal-body">
			<wicket:child/>
		</div>
	</div>
</wicket:panel>