<wicket:panel>
    <div class="row-fluid">
        <div wicket:id="transparentMarkupForPhotosAjax">
            <div
                    class="span12 module_cont module_gallery"
                    wicket:id="photosContainer">
                <div class="bg_title">
                    <h2 class="headInModule" wicket:id="titleContainer"></h2>
                </div>
                <div
                        class="list-of-images"
                        id="galleriePhotoAnnonce">
                    <div class="gallery_item view" wicket:id="imagesView">
                        <div wicket:id="imageWithOptions">
                            <a href="" class="prettyPhoto" wicket:id="thumbnails">
                                <img class="gallery-stand-img img-ratio" src="" alt="" wicket:id="photo"/>
                            </a>

                            <div wicket:id="imageOptions">
                                <a href="" wicket:id="supprimerImage" class="suppress-link" data-toggle="tooltip"
                                   data-original-title="Supprimer cette photo" data-placement="top" title="Supprimer cette photo">
                                    <div class="glyphAnnonce icon-Trash">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div
                    class="span12"
                    wicket:id="aucunePhotoContainer">
                <div class="bg_title">
                    <h2 class="headInModule" wicket:id="titleContainerNoPhoto"></h2>
                </div>
                <div
                        wicket:id="aucunePhoto"
                        id="aucunePhoto"></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div wicket:id="ajoutPhotoContainer" class="span12">
            <div class="bg_title">
                <h4 class="headInModule">Ajouter des photos</h4>
            </div>
            <form wicket:id="addPhotoForm" class="photoFieldContainer">
                <div class="row-fluid">
                    <div class="span12 offset4">
                        <input wicket:id="photoField" type="file" multiple="multiple"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div id="btnAjoutPhoto">
                        <a
                                class="btn btn-info"
                                wicket:id="envoyerPhotos">Valider ajout de photo(s)</a>
                    </div>
                </div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
</wicket:panel>