<wicket:panel>
	<div id="waiterModal"></div>

	<script>
		hideWaiterModal();
		Wicket.Event.subscribe('/ajax/call/beforeSend', function(attributes,jqXHR, settings) {
			var classes = attributes.target.activeElement.className;
			var skipWait = classes.indexOf("skipWaiter")>=0;
			if(!skipWait){
				showWaiterModal();
			}
		});
		Wicket.Event.subscribe('/ajax/call/complete', function(attributes,jqXHR, textStatus) {
			hideWaiterModal()
		});

		function showWaiterModal() {
			$('#waiterModal').fadeIn();
			$('html').addClass('loading');
		}

		function hideWaiterModal() {
			$('#waiterModal').fadeOut();
			$('html').removeClass('loading');
		}
	</script>
</wicket:panel>