.contacteznous{
    padding-bottom: 20px;
}
.contacteznous .contactmethod{
    line-height: 50px;
    text-align: center;
    font-size: 10px;
}

.contacteznous .contactmethod .ico{
    font-size: 38px;
    margin-right: 20px;
    vertical-align: bottom;
}
.contacteznous .contactmethod p {
    font-size: 19px;
    display: inline-block;
    vertical-align: sub;
}

.contacteznous .contactmethod:first-child p {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
}