@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?629yfv');
	src:url('fonts/icomoon.eot?#iefix629yfv') format('embedded-opentype'),
		url('fonts/icomoon.woff?629yfv') format('woff'),
		url('fonts/icomoon.ttf?629yfv') format('truetype'),
		url('fonts/icomoon.svg?629yfv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ZoomOut:before {
	content: "\e600";
}
.icon-ZoomIn:before {
	content: "\e601";
}
.icon-Zerply:before {
	content: "\e602";
}
.icon-youtube:before {
	content: "\e603";
}
.icon-yahoo:before {
	content: "\e604";
}
.icon-xing:before {
	content: "\e605";
}
.icon-Write:before {
	content: "\e606";
}
.icon-wordpress:before {
	content: "\e607";
}
.icon-WindBag:before {
	content: "\e608";
}
.icon-Wind2:before {
	content: "\e609";
}
.icon-Wind1:before {
	content: "\e60a";
}
.icon-Wi-Fi:before {
	content: "\e60b";
}
.icon-Volume3:before {
	content: "\e60c";
}
.icon-Volume2:before {
	content: "\e60d";
}
.icon-Volume1:before {
	content: "\e60e";
}
.icon-VoiceMail:before {
	content: "\e60f";
}
.icon-vimeo:before {
	content: "\e610";
}
.icon-Upload3:before {
	content: "\e611";
}
.icon-Upload1:before {
	content: "\e612";
}
.icon-Umbrella4:before {
	content: "\e613";
}
.icon-Umbrella3:before {
	content: "\e614";
}
.icon-Umbrella2:before {
	content: "\e615";
}
.icon-Umbrella1:before {
	content: "\e616";
}
.icon-twitter2:before {
	content: "\e617";
}
.icon-twitter1:before {
	content: "\e618";
}
.icon-tumblr:before {
	content: "\e619";
}
.icon-Trash:before {
	content: "\e61a";
}
.icon-Train:before {
	content: "\e61b";
}
.icon-Tornado:before {
	content: "\e61c";
}
.icon-Tool:before {
	content: "\e61d";
}
.icon-Thumbtack2:before {
	content: "\e61e";
}
.icon-Thumbtack1:before {
	content: "\e61f";
}
.icon-Thermometer:before {
	content: "\e620";
}
.icon-TestTube:before {
	content: "\e621";
}
.icon-Target:before {
	content: "\e622";
}
.icon-Sun:before {
	content: "\e623";
}
.icon-stumbleupon:before {
	content: "\e624";
}
.icon-Store:before {
	content: "\e625";
}
.icon-Stopwatch:before {
	content: "\e626";
}
.icon-Stop:before {
	content: "\e627";
}
.icon-Star:before {
	content: "\e628";
}
.icon-Speech-Buble8:before {
	content: "\e629";
}
.icon-Speech-Buble7:before {
	content: "\e62a";
}
.icon-Speech-Buble6:before {
	content: "\e62b";
}
.icon-Speech-Buble5:before {
	content: "\e62c";
}
.icon-Speech-Buble4:before {
	content: "\e62d";
}
.icon-Speech-Buble3:before {
	content: "\e62e";
}
.icon-Speech-Buble2:before {
	content: "\e62f";
}
.icon-Speech-Buble1:before {
	content: "\e630";
}
.icon-soundcloud:before {
	content: "\e631";
}
.icon-SmartPhone:before {
	content: "\e632";
}
.icon-skype:before {
	content: "\e633";
}
.icon-Shuffle:before {
	content: "\e634";
}
.icon-ShoppingCart2:before {
	content: "\e635";
}
.icon-ShoppingCart:before {
	content: "\e636";
}
.icon-ShoppingBasket:before {
	content: "\e637";
}
.icon-ShareThis:before {
	content: "\e638";
}
.icon-Setting3:before {
	content: "\e639";
}
.icon-Setting2:before {
	content: "\e63a";
}
.icon-Setting1:before {
	content: "\e63b";
}
.icon-Sent3:before {
	content: "\e63c";
}
.icon-Sent2:before {
	content: "\e63d";
}
.icon-Sent:before {
	content: "\e63e";
}
.icon-Send:before {
	content: "\e63f";
}
.icon-Scissors:before {
	content: "\e640";
}
.icon-Satellite2:before {
	content: "\e641";
}
.icon-Satellite1:before {
	content: "\e642";
}
.icon-RSS:before {
	content: "\e643";
}
.icon-Rooster:before {
	content: "\e644";
}
.icon-Refresh2:before {
	content: "\e645";
}
.icon-Refresh1:before {
	content: "\e646";
}
.icon-Rain:before {
	content: "\e647";
}
.icon-Radio:before {
	content: "\e648";
}
.icon-Quora:before {
	content: "\e649";
}
.icon-Profile:before {
	content: "\e64a";
}
.icon-Printer:before {
	content: "\e64b";
}
.icon-Plus:before {
	content: "\e64c";
}
.icon-Play:before {
	content: "\e64d";
}
.icon-PlanePaper:before {
	content: "\e64e";
}
.icon-Plane:before {
	content: "\e64f";
}
.icon-pinterest:before {
	content: "\e650";
}
.icon-Pie-Chart2:before {
	content: "\e651";
}
.icon-Pie-Chart1:before {
	content: "\e652";
}
.icon-picasa:before {
	content: "\e653";
}
.icon-Photo2:before {
	content: "\e654";
}
.icon-Photo1:before {
	content: "\e655";
}
.icon-PersonThinking:before {
	content: "\e656";
}
.icon-PersonTalking:before {
	content: "\e657";
}
.icon-Person:before {
	content: "\e658";
}
.icon-PeopleTalk:before {
	content: "\e659";
}
.icon-People2:before {
	content: "\e65a";
}
.icon-People1:before {
	content: "\e65b";
}
.icon-People:before {
	content: "\e65c";
}
.icon-Pen:before {
	content: "\e65d";
}
.icon-Pause:before {
	content: "\e65e";
}
.icon-Open:before {
	content: "\e65f";
}
.icon-On-Off:before {
	content: "\e660";
}
.icon-Nota:before {
	content: "\e661";
}
.icon-Newsvine:before {
	content: "\e662";
}
.icon-Newspaper:before {
	content: "\e663";
}
.icon-myspace:before {
	content: "\e664";
}
.icon-Moustache:before {
	content: "\e665";
}
.icon-Monitor:before {
	content: "\e666";
}
.icon-MinusSign:before {
	content: "\e667";
}
.icon-Microphone2:before {
	content: "\e668";
}
.icon-Microphone:before {
	content: "\e669";
}
.icon-Megaphone2:before {
	content: "\e66a";
}
.icon-Megaphone:before {
	content: "\e66b";
}
.icon-MapPin4:before {
	content: "\e66c";
}
.icon-MapPin3:before {
	content: "\e66d";
}
.icon-MapPin2:before {
	content: "\e66e";
}
.icon-MapPin1:before {
	content: "\e66f";
}
.icon-Map:before {
	content: "\e670";
}
.icon-Mag:before {
	content: "\e671";
}
.icon-Lock2:before {
	content: "\e672";
}
.icon-Lock1:before {
	content: "\e673";
}
.icon-linkedin:before {
	content: "\e674";
}
.icon-Link1:before {
	content: "\e675";
}
.icon-like:before {
	content: "\e676";
}
.icon-Lightning2:before {
	content: "\e677";
}
.icon-Lightning:before {
	content: "\e678";
}
.icon-Letter:before {
	content: "\e679";
}
.icon-lastFM:before {
	content: "\e67a";
}
.icon-Laptop:before {
	content: "\e67b";
}
.icon-Label:before {
	content: "\e67c";
}
.icon-Key:before {
	content: "\e67d";
}
.icon-instagram:before {
	content: "\e67e";
}
.icon-Info:before {
	content: "\e67f";
}
.icon-Inbox2:before {
	content: "\e680";
}
.icon-Inbox:before {
	content: "\e681";
}
.icon-House:before {
	content: "\e682";
}
.icon-Heart:before {
	content: "\e683";
}
.icon-Headphone:before {
	content: "\e684";
}
.icon-Handset:before {
	content: "\e685";
}
.icon-Hand:before {
	content: "\e686";
}
.icon-grooveshark:before {
	content: "\e687";
}
.icon-googleplus:before {
	content: "\e688";
}
.icon-Gong:before {
	content: "\e689";
}
.icon-Globe:before {
	content: "\e68a";
}
.icon-Glass:before {
	content: "\e68b";
}
.icon-github:before {
	content: "\e68c";
}
.icon-GiftBox:before {
	content: "\e68d";
}
.icon-friendfeed:before {
	content: "\e68e";
}
.icon-Forward:before {
	content: "\e68f";
}
.icon-Forrst:before {
	content: "\e690";
}
.icon-Fork-Spoon:before {
	content: "\e691";
}
.icon-Folder2:before {
	content: "\e692";
}
.icon-Folder1:before {
	content: "\e693";
}
.icon-flickr:before {
	content: "\e694";
}
.icon-Flag:before {
	content: "\e695";
}
.icon-Film:before {
	content: "\e696";
}
.icon-Film-Strip:before {
	content: "\e697";
}
.icon-File6:before {
	content: "\e698";
}
.icon-File5:before {
	content: "\e699";
}
.icon-File4:before {
	content: "\e69a";
}
.icon-File3:before {
	content: "\e69b";
}
.icon-File2:before {
	content: "\e69c";
}
.icon-File1:before {
	content: "\e69d";
}
.icon-Fahrenheit:before {
	content: "\e69e";
}
.icon-facebook:before {
	content: "\e69f";
}
.icon-Eye:before {
	content: "\e6a0";
}
.icon-Equaliser3:before {
	content: "\e6a1";
}
.icon-Equaliser2:before {
	content: "\e6a2";
}
.icon-Equaliser:before {
	content: "\e6a3";
}
.icon-Envelope5:before {
	content: "\e6a4";
}
.icon-Envelope4:before {
	content: "\e6a5";
}
.icon-Envelope3:before {
	content: "\e6a6";
}
.icon-Envelope2:before {
	content: "\e6a7";
}
.icon-Envelope1:before {
	content: "\e6a8";
}
.icon-Email:before {
	content: "\e6a9";
}
.icon-Eject:before {
	content: "\e6aa";
}
.icon-dribbble:before {
	content: "\e6ab";
}
.icon-Download2:before {
	content: "\e6ac";
}
.icon-Download:before {
	content: "\e6ad";
}
.icon-digg:before {
	content: "\e6ae";
}
.icon-deviantart:before {
	content: "\e6af";
}
.icon-delicious:before {
	content: "\e6b0";
}
.icon-Degree:before {
	content: "\e6b1";
}
.icon-Data3:before {
	content: "\e6b2";
}
.icon-Data2:before {
	content: "\e6b3";
}
.icon-Data:before {
	content: "\e6b4";
}
.icon-Cup:before {
	content: "\e6b5";
}
.icon-Cross:before {
	content: "\e6b6";
}
.icon-Crop:before {
	content: "\e6b7";
}
.icon-Crescent:before {
	content: "\e6b8";
}
.icon-Connection3:before {
	content: "\e6b9";
}
.icon-Connection2:before {
	content: "\e6ba";
}
.icon-Connection1:before {
	content: "\e6bb";
}
.icon-Completing:before {
	content: "\e6bc";
}
.icon-Compass:before {
	content: "\e6bd";
}
.icon-Cloud17:before {
	content: "\e6be";
}
.icon-Cloud16:before {
	content: "\e6bf";
}
.icon-Cloud15:before {
	content: "\e6c0";
}
.icon-Cloud14:before {
	content: "\e6c1";
}
.icon-Cloud13:before {
	content: "\e6c2";
}
.icon-Cloud12:before {
	content: "\e6c3";
}
.icon-Cloud11:before {
	content: "\e6c4";
}
.icon-Cloud10:before {
	content: "\e6c5";
}
.icon-Cloud9:before {
	content: "\e6c6";
}
.icon-Cloud8:before {
	content: "\e6c7";
}
.icon-Cloud7:before {
	content: "\e6c8";
}
.icon-Cloud6:before {
	content: "\e6c9";
}
.icon-Cloud5:before {
	content: "\e6ca";
}
.icon-Cloud4:before {
	content: "\e6cb";
}
.icon-Cloud3:before {
	content: "\e6cc";
}
.icon-Cloud2:before {
	content: "\e6cd";
}
.icon-Cloud1:before {
	content: "\e6ce";
}
.icon-Clock:before {
	content: "\e6cf";
}
.icon-Clapper:before {
	content: "\e6d0";
}
.icon-CheckMark:before {
	content: "\e6d1";
}
.icon-Chart7:before {
	content: "\e6d2";
}
.icon-Chart6:before {
	content: "\e6d3";
}
.icon-Chart5:before {
	content: "\e6d4";
}
.icon-Chart4:before {
	content: "\e6d5";
}
.icon-Chart3:before {
	content: "\e6d6";
}
.icon-Chart2:before {
	content: "\e6d7";
}
.icon-Chart1:before {
	content: "\e6d8";
}
.icon-Chain:before {
	content: "\e6d9";
}
.icon-Case:before {
	content: "\e6da";
}
.icon-Car:before {
	content: "\e6db";
}
.icon-Camera2:before {
	content: "\e6dc";
}
.icon-Camera:before {
	content: "\e6dd";
}
.icon-Calendar2:before {
	content: "\e6de";
}
.icon-Calendar:before {
	content: "\e6df";
}
.icon-Bulb:before {
	content: "\e6e0";
}
.icon-Box2:before {
	content: "\e6e1";
}
.icon-Box:before {
	content: "\e6e2";
}
.icon-Bookmark:before {
	content: "\e6e3";
}
.icon-Bluetooth:before {
	content: "\e6e4";
}
.icon-blog:before {
	content: "\e6e5";
}
.icon-Bike:before {
	content: "\e6e6";
}
.icon-behance:before {
	content: "\e6e7";
}
.icon-beboo:before {
	content: "\e6e8";
}
.icon-Battery:before {
	content: "\e6e9";
}
.icon-Bag3:before {
	content: "\e6ea";
}
.icon-Bag2:before {
	content: "\e6eb";
}
.icon-Bag:before {
	content: "\e6ec";
}
.icon-Backward:before {
	content: "\e6ed";
}
.icon-Attach:before {
	content: "\e6ee";
}
.icon-Arrows4:before {
	content: "\e6ef";
}
.icon-Arrows3:before {
	content: "\e6f0";
}
.icon-Arrows2:before {
	content: "\e6f1";
}
.icon-Arrows1:before {
	content: "\e6f2";
}
.icon-Arrow:before {
	content: "\e6f3";
}
.icon-Alarm-Clock:before {
	content: "\e6f4";
}
