<configuration scan="true" debug="true">
	<contextName>batimenContext</contextName>

	<logger name="org.dbunit" level="WARN" />


	<!-- Permet d'avoir les logs dans la console d'eclipse et glassfish (a degager 
		en prod) -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<root level="DEBUG">
		<appender-ref ref="stdout" />
	</root>
</configuration>