@CHARSET "ISO-8859-1";

#connexion {
	float: left;
	padding-left: 700px;
	padding-top: 12px;
}

.erreur {
	color: red;
}

/* Creation d'annonce */
#mapFrance {
	width: 600px;
	padding-left: 310px;
	padding-top: 20px;
}

#formEtape2 {
	margin-left: 300px;
	margin-top: 45px;
}

#formEtape2 table th {
	padding-left: 20px;
	padding-bottom: 20px;
}

#formEtape2 table td {
	padding-left: 20px;
	padding-bottom: 8px;
}

#formEtape2 table td a {
	float: right;
	margin-right: 39px;
}

.imgHelp {
	padding-bottom: 8px;
}

#photoField {
	margin-bottom: 7px;
}

.required {
	color: red;
	font-size: 1.3em;
	padding-left: 5px;
}

#formEtape2 .error {
	border: 1px solid red;
}

#champsObligatoire {
	margin-left: 300px;
}

/* Composant Wicket */

.wicket-mfu-caption {
	padding-top: 5px;
}

/* Composant dans tous le site */

input[type="button"]{
	font-weight: 800;
	font-family: 'Open Sans',sans-serif !important;
	text-transform : uppercase;
	font-size: 12px;
	color: #666666;
	padding: 4px 15px;
	background: -moz-linear-gradient(
		top,
		#f0f0f0 0%,
		#f0f0f0 50%,
		#f0f0f0);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#f0f0f0),
		color-stop(0.50, #f0f0f0),
		to(#f0f0f0));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #cfcfcf;
	-moz-box-shadow:
		1px 0px 0px rgba(0,0,0,0),
		inset 1px 1px 2px rgba(000,000,000,0.4);
	-webkit-box-shadow:
		1px 0px 0px rgba(0,0,0,0),
		inset 1px 1px 2px rgba(000,000,000,0.4);
	box-shadow:
		1px 0px 0px rgba(0,0,0,0),
		inset 1px 1px 2px rgba(000,000,000,0.4);
	text-shadow:
		0px 0px 0px rgba(255,255,255,0.2),
		0px 1px 0px rgba(255,255,255,1);

}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


}
