

/* COMMENT CA MARCHE + WHY CASTORS SECTION*/
.iconedsection .icon{
    font-size: 50px;
    margin-bottom: 6%;
}
.iconedsection{
    text-align: center;
}
.iconedsection h1{
    margin-bottom: 24px;
}
.iconedsection a{
    font-size: 20px;
    padding: 10px;
    margin-top: -12px;
}
.iconedsection p{
    font-size: 1.25em;
}

.iconedsection.whynot .icon{
    margin-left: -20px;
    margin-top: 10px;
}

.iconedsection.whynot p:last-child{
    margin-top: 14px;
}

.iconedsection.whynot a{
    margin-bottom: 10px;
}


/* ARTISANS QUALITE */
.artisansqualite blockquote p{
    font-size: 1.17em;
    line-height: 1.5em;
    text-align: left;
    color: #000000;
}

.artisansqualite a{
    font-size: 1.2em;
}

.artisansqualite {
    text-align: center;
}

/* REJOIGNEZ NOUS */
.rejoignez{
    text-align: center;
}
.rejoignez .icon{
    margin-bottom: 25px;
    font-size: 50px;
}
.rejoignez a{
    font-size: 20px;
    padding: 10px;
}
.rejoignez .row-fluid{
    padding-top: 20px;
    padding-bottom: 20px;
}

/*TRAVAUX POPULAIRES*/
.travaux .well{
    text-align: left;
    font-size: 1.4em;
}
.travaux ul{
    padding-bottom: 0;
}
.travaux .well li {
    line-height: 25px;
}
.travaux{
    text-align: center;
}
/*SUIVEZ NOUS*/
.follow{
    padding-bottom: 20px;
    text-align: center;
}
.follow .title p {
    margin-top: 20px;
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
}
.followmethods .ico{
    font-size: 50px;
    margin: -23px 50px;
}
.followmethod .icon-facebook{
    color: #3b5998;
}
.followmethod .icon-googleplus{
    color: #d73d32;
}
.followmethod .icon-twitter2{
    color: #55acee;
}
.followmethod,.follow .title{
    line-height: 70px;
}

.module_normal_padding{
    margin-bottom: 0px !important;
}

.module_line{
    margin-bottom: 0px !important;
    margin-top: 0px;
}

#h4_artisan_chantier_premium{
    color: #000000;
}

#artisan_chantier_premium_blockquote:before{
    background-image: none;
    background-color: transparent;
}

#artisan_chantier_premium_blockquote i{
    font-size: 24px;
    color: #000000;
    vertical-align: sub;
}

.commentcamarche{
    padding-bottom: 15px;
}

.contactez_suivez_nous{
    padding-top: 10px;
}