<configuration scan="true" debug="false" scanPeriod="30 seconds">
	<contextName>batimenWebContext</contextName>

	<property name="LOGS_FOLDER" value="${logs.address}" />
	<property name="LOGS_TO_COLLECT_FOLDER" value="${logs.archives}" />

	<!-- Fait pour la prod, ne log qu'a partir du lvl warn et archive les fichiers 
		par date -->
	<appender name="log-file-by-day"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_FOLDER}/batimen_web.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${logs.lvl}</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_TO_COLLECT_FOLDER}/batimen_web.%d{yyyyMMdd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} %-5level %logger{36} - %m %throwable{0}%n</pattern>
		</encoder>
	</appender>

	<root level="${logs.lvl}">
		<appender-ref ref="log-file-by-day" />
	</root>
</configuration>